@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap");

$primary-color: #000;
$font: "League Spartan", sans-serif;

@font-face {
  font-family: "Fight";
  src: url("./fonts/friends.TTF");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

body {
  background-color: $primary-color;
  color: #fff;
  padding: 2rem;
}

.link {
  text-decoration: none;
}

.li-filmes {
  font-family: "Fight";
}

.li-series {
  font-family: "Fight";
}
